@use '../../styles/variables' as vars;

.pagination {
  &__container {
    display: flex;
    color: inherit;
  }
  &__button {
    font-size: vars.$font-size-large;
    path {
      stroke: vars.$dark-blue;
    }
    &--prev {
      margin-right: vars.$extra-small-space;
    }
  }
}