@use '../../styles/variables' as vars;

.error {
  &__msg {
    margin-bottom: vars.$small-space;
    font-size: vars.$font-size-large;
    text-align: center;
    letter-spacing: 5px;
  }
  &__button {
    font-size: vars.$font-size-large;
    path {
      stroke: vars.$dark-blue
    }
  }
}