 //layout
 .flex {
   display: flex;
    &__center {
      align-items: center;
      justify-content: center;
    }
    &__v-center {
      align-items: center;
    }
    &__h-center {
      justify-content: center;
    }
    &__left {
      justify-content: flex-start;
    }
    &__right {
      justify-content: flex-end;
    }
    &__vertical {
      flex-direction: column;
    }
}

.absolute {
  position: absolute;
  &__center {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}

.full {
  &__width {
    width: 100%;
  }
}

//animations
@keyframes fadeInUp {
  from {
      transform: translateY(50px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


@keyframes fadeInLeft {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInRight{
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


