//colors
$dark-blue:#2F4368;
$yellow:#FAF76B;
$brown:#87501F;
$light-brown:#F7C49D;
$gray:#EAEAEA;

//typo
$font-size-huge: 5.96rem;
$font-size-extra-large: 3.052rem;
$font-size-large: 2.441rem;
$font-size-medium: 1.5rem;
$font-size-default: 1rem;
$font-size-small: 0.8rem;

$default-line-height: 1.7em;

$font-creepster: 'Creepster';

//spaces
$large-space: 80px;
$default-space: 50px;
$small-space: 20px;
$extra-small-space: 10px;

// animations
$animation-fade-in-up: fadeInUp 500ms 500ms both ease-in-out;
$animation-fade-in-down: fadeInDown 500ms 500ms both ease-in-out;
$animation-fade-in-left: fadeInLeft 500ms 500ms both ease-in-out;
$animation-fade-in-right: fadeInRight 500ms 500ms both ease-in-out;

//button
$btn-padding: 5px 25px;

//loading
$loading-animation-effect: 500ms infinite linear;

