@use '../../styles/variables' as vars;

.loading {
  @keyframes spin{
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  animation: spin vars.$loading-animation-effect;
  font-size: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: vars.$yellow;
}